/*
 Theme Name:   Spacious Child
 Description:  Spacious Child Theme
 Author:       Erwin Presbitersky
 Author URI:   http://bawing.wordpress.com
 Template:     spacious
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}
th {
   font-weight: bold;
}
th, td {
   border: 1px solid #EAEAEA;
   padding: 6px 10px;
}
caption, th, td {
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}
a img:hover {
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	box-shadow: #000 0 0 0;
}
embed, iframe, object {
	max-width: 100%;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

/* =GLOBAL
----------------------------------------------- */
body,
button,
input,
select,
textarea {
	color: #666666;
	font: 16px 'Lato', sans-serif;
	line-height: 40px;
	word-wrap: break-word;
}

body {
	background: #008aa4;
	background-image:url('img/home_images/body_bakground_16.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 18px;
	color: #e0e0e0;
	font-weight: normal;
	font-family: 'Lato', sans-serif;
}
h1 { font-size: 30px; line-height: 36px; }
h2 { font-size: 28px; line-height: 34px; }
h3 { font-size: 26px; line-height: 32px; }
h4 { font-size: 24px; line-height: 30px; }
h5 { font-size: 22px; line-height: 28px; }
h6 { font-size: 19px; line-height: 25px; }
hr {
	border-color: #EAEAEA;
	border-style: solid none none;
	border-width: 1px 0 0;
	height: 0;
	margin: 30px 0;
}

/* =TEXT ELEMENTS
----------------------------------------------- */
p {
	line-height: 24px;
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
pre {
	background-color: #fff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	border: 1px solid #EAEAEA;
}
pre, code, kbd, var, samp, tt {
	font-family:"Courier 10 Pitch",Courier,monospace;
	font-size: 14px;
	line-height: 19px;
	white-space: pre-wrap;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666666;
	cursor: help;
}
address {
	display: block;
	font-style: italic;
	margin: 0 0 15px;
}
ins {
	background: #F8F8F8;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* =SUPERCRIPT AND SUBSCRIPT
----------------------------------------------- */
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

dl {
	margin-bottom: 24px;
	font-size: 16px;
}
dt {
	font-weight: bold;
	margin-bottom: 5px;
}
dd {
	margin-bottom: 24px;
}

ul,
ol {
	list-style: none;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin: 0 0 0 10px;
}

/* =BLOCKQUOTE
----------------------------------------------- */
blockquote {
	font-style: italic;
	font-weight: normal;
	padding: 20px;
	border: 1px solid #EAEAEA;
	border-left: 3px solid #0FBE7C;
	margin-bottom: 20px;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

/* =FORMS
----------------------------------------------- */
input, textarea {
 	-webkit-border-radius: 0px;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: 1%;
	border: 1px solid #EAEAEA;
	line-height: 20px;
	width: 98%;
	margin: 0 0 30px;
	background-color: #F8F8F8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border: 1px solid #EAEAEA;
}
input.s {
	width: 60%;
	padding: 4px 10px;
	height: 22px;
	color: #666666;
	background-color: #FFFFFF;
	margin: 0;
	border: 1px solid #EAEAEA;
}
input.s:focus {
	padding-left: 10px;
	border-color: #EAEAEA;
	text-indent: 0;
}
.spacious-button,
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
   color: #FFFFFF;
	display:inline-block;
   margin-bottom: 30px;
   padding: 5px 25px;
   -moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	cursor: pointer;
	background-color: #0FBE7C;
	border: 0px;
   -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
   font-size: 16px;
}
.spacious-button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
color:#fffc00;
}
.previous a,
.next a {
   color: #666666;
   padding: 5px 25px;
	cursor: pointer;
   border: 1px solid #EAEAEA;
   font-size: 16px;
}
.previous a:hover,
.next a:hover {
	color: #0FBE7C;
}
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* =LINKS
----------------------------------------------- edited 10202015 */
a {
	color: #797979;
	text-decoration: none;
}
a:focus, a:active, a:hover {
	text-decoration: none;
}

/* =IMAGES
----------------------------------------------- */
figure {
	margin: 0;
	text-align: center;
}
img {
	max-width:100%;
	height:auto;
	vertical-align:top;
	margin-bottom: 18px;
}
.entry-content img, .comment-content img, .widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {

}
img.size-full, img.size-large {
	max-width: 100%;
	height: auto;
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 1.625em;
}
p img {

}
img#wpstats {
 	display: none;
}

/* =CLEARFIX
----------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display: block;
}
.tg-after-three-blocks-clearfix {
	clear: both;
}

/* =ALIGNMENT
----------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*****************************************************************/
/*****************************************************************/

/* =BODY
----------------------------------------------- */
body {
	padding-top: 30px;
	padding-bottom: 30px;
}

#page {
	max-width: 1268px;
	margin: 0 auto;
	background-color: #fafafa;
	/* background-color:rgba(0,0,0,.8); */
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
.wide-978, .wide-1218 {
	padding-top: 0;
	padding-bottom: 0;
}
.wide-1218 #page {
	max-width: 100%;
}
.narrow-978 #page {
	max-width: 1038px;
}
.wide-978 #page {
	max-width: 100%;
}
.wide-978 #page {
	padding-top: 0;
	padding-bottom: 0;
}
.inner-wrap {
	margin: 0 auto;
	max-width: 1218px;
}
.wide-1218 .inner-wrap {
	max-width: 1218px;
}
.narrow-978 .inner-wrap {
	max-width: 978px;
}
.wide-978 .inner-wrap {
	max-width: 978px;
}

/* =HEADER
----------------------------------------------- */
#masthead {
	background-color:#ffffff;
	position:relative;
	margin:0px;
	padding:0px;


}




#header-meta {
	background-color: #F8F8F8;
	border-bottom: 1px solid #EAEAEA;
}
#header-text-nav-container {

}
#header-text-nav-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}
#header-left-section {
	float: left;
	margin-right: 25px;
}
#header-logo-image {
	float: left;
	max-width: 100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000;
	margin-bottom:25px;




}
#header-logo-image img {
	margin-bottom: 0px;
	border:1px solid gray;
	border-radius: 11px;
	
	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;

}
#header-text {
	float: left;
	padding: 10px 20px 0 0;
}
#site-title a {
	color: #444444;
	font-size: 36px;
}
h1#site-title {
	padding-bottom: 5px;
}
#site-title a:hover {
	color: #0FBE7C;
}
#site-description {
	line-height: 24px;
	font-size: 16px;
	padding-bottom: 0;
	color: #666666;
}
#header-right-section {
	float: right;
}
#header-right-sidebar {
	overflow: hidden;
}
#header-right-section .widget {
	text-align: right;
	padding-top: 10px;
}
#header-right-section .widget h3 {
	padding-bottom: 5px;
}

.header-image {
	margin-bottom: 0;
	border-bottom: 1px solid #EAEAEA;
	width: 100%;
}

/* =SEARCH WIDGET
----------------------------------------------- */
#masthead .search-wrap input.s {
	width: 130px;
}
.search-wrap button {
	border-radius: 0;
	line-height: 32px;
	margin-bottom: 0;
	margin-left: -6px;
	padding: 0;
}
.search-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 18px/1 'Genericons';
	content: '\f400';
	vertical-align: middle;
	padding: 0 7px;
}


/* =NAVIGATION
----------------------------------------------- */
nav li > ul,
nav li > ol {
	margin: 0;
	list-style: none;
}
.main-navigation {
	float: right;
	background:#3a3a3a; /* 3a3a3a */
	color:#ffffff;
	padding:0 30px;
}

.main-navigation li {
	float: left;
	position: relative;
	padding: 0 0 0 25px;
	font-family: 'Lato', sans-serif;
}
.main-navigation ul li a {
	font-size: 16px;
}

.main-navigation li.default-menu,
li.default-menu {
	display: none;
}
.main-navigation a {
	color: #ffffff;  /* EDITED 10202015 */
	display: block;
	height: 30px;
	width:100%;
}
.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover > a {
	color: #fcff00;   /*  edited 102012015 */
}

/* =DROP DOWN
----------------------------------------------- */
.main-navigation ul li ul,
.main-navigation ul li:hover ul ul,
.main-navigation ul ul li:hover ul ul,
.main-navigation ul ul ul li:hover ul ul,
.main-navigation ul ul ul ul li:hover ul ul {
	display:none;
	z-index: 9999;
}
.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul,
.main-navigation ul ul ul li:hover ul,
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul {
	display:block;
	width:300px;
}
.main-navigation ul li ul {
	position: absolute;
	background: none repeat scroll 0 0 rgba(0, 0, 0, .8);
	border-top: 5px solid #ffe404;
	top: 30px;
	left: -60px; /* edited 10202015 */
	width: 150px;
	margin:0px;
	padding:0px;
}
.main-navigation ul li ul li {
	float: none;
	border-bottom: 1px solid #eaeaea;
	padding: 0;
	margin:0px;
	padding:0px;
}
.main-navigation ul li ul li a,
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a,
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
	float: none;
	line-height: 21px;
	font-size: 13px;
	font-weight: normal;
	height: 100%;
	padding: 6px 10px;
	color: #FEFFED;
}
.main-navigation ul li ul li a:hover, .main-navigation ul li ul li:hover > a, .main-navigation ul li.current-menu-item ul li a:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
	color: #000000;
}
.main-navigation ul li ul li ul {
	left: -150px;
	top: -1px;
}
.main-navigation select {
	display: none;
}

/* =SMALL MENU
----------------------------------------------- */
.menu-toggle {
	display: none;
	cursor: pointer;
}
.site-header .menu-toggle {
	background: #3A3A3A;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 22px;
	margin: 0;
	text-align: center;
}
.site-header .menu-toggle:hover {
  background: #ffe404;
  width:100%;
}
.site-header .menu-toggle:before {
  content: '\2261';
  margin-right: 10px;
}
.main-small-navigation {
	float: none;
	padding-top: 0;
	background-color: #000000;
}
.main-small-navigation ul {
  margin: 0;
  list-style: none;
}
.main-small-navigation a {
  display: block;
  color: #666666;
  padding: 7px;
  text-decoration: none;

}
.main-small-navigation li {
  background: #fff;
  padding:7px 0px 0px 0px;
  margin:0px;
  font-size:.9em;
  line-height:1.5em;
}
.main-small-navigation li:hover {
  background: #ffe404;
}

.main-small-navigation ul ul {
 	padding:0px;
	margin:0px;
}

.main-small-navigation ul ul a {
	margin:0px;
	padding:0px;
	 	padding-left:30px;
}
.main-small-navigation ul ul li {
	margin:0px;
}
.main-small-navigation ul ul li:hover {
	background-color:#FCF29A;
}


.main-small-navigation ul ul ul a {
  padding-left: 80px;
}
.main-small-navigation ul > .current_page_item,
.main-small-navigation ul > .current-menu-item {
  background: #ffe404;
}

/* =SECONDARY MENUS
----------------------------------------------- */
.small-menu {
	float: right;
}
.small-menu li {
	float: left;
	position: relative;
	font-family: 'Lato', sans-serif;
}
.small-menu li.default-menu,
li.default-menu {
	display: none;
}
.small-menu a {
	color: #666666;
	display: block;
	float: left;
	font-size: 10px;
	height: 21px;
	padding: 5px 0 0 16px;
	font-size: 12px;
}
.small-menu a:hover,
.small-menu ul li.current-menu-item a,
.small-menu ul li.current_page_ancestor a,
.small-menu ul li.current-menu-ancestor a,
.small-menu ul li.current_page_item a,
.small-menu ul li:hover > a {
	color: #0FBE7C;
}

/* =FEATURED SLIDER
----------------------------------------------- */
#featured-slider {

}
#featured-slider,
#featured-slider .slider-cycle {
	position: relative;
}
.wide-978 #featured-slider .slider-cycle,
.wide-1218 #featured-slider .slider-cycle {
   max-width: 1600px;
   margin: 0 auto;
}
#featured-slider .displayblock {
	display: block;
}
#featured-slider .displaynone {
	display: none;
}
.ie8 #featured-slider .entry-container {
	top: 25%;
}
#featured-slider .entry-container {
	top: 50%;
	-ms-transform: translateY(-50%); /* IE 9 */
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
	position: absolute;
	left: 5%;
	max-width: 40%;
}
.wide-978 #featured-slider .entry-container {
   left: 13.8%;
}
.wide-1218 #featured-slider .entry-container {
   left: 4.9%;
}
#featured-slider .entry-description-container {
	background-color: #555555;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 15px;
	padding: 1rem 1.5rem;
}
#featured-slider img {
	margin-bottom: 0px;
}
#featured-slider .slider-title-head {
	display: inline-block;
	left: 0;
	margin-bottom: 5px;
	margin-bottom: 0.5rem;
}
#featured-slider .entry-title {
	padding: 0;
}
.slider-title-head .entry-title a {
	color: #FFFFFF;
	text-decoration: none;
}
#featured-slider .entry-title span {
	color: #FFFFFF;
	display: block;
	font-size: 26px;
}
#featured-slider .entry-content {
	color: #FFFFFF;
	padding-top: 5px;
	padding-top: 0.5rem;
}
#featured-slider .entry-content p {
	margin: 0;
	padding: 0;
}
#featured-slider .slider-read-more-button {
	background-color: #0FBE7C;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Lato',sans-serif;
	padding: 10px 15px;
	padding: 1rem 1.5rem;
	float: left;
	margin-top: 15px;
	font-size: 20px;
}
#featured-slider .slider-read-more-button:hover {
	background-color: #666666;
}

/* =SLIDER CONTROLLERS
----------------------------------------------- */
#controllers {
	text-align:center;
	line-height:0;
	position: absolute;
	width: 100%;
	bottom: 15px;
	z-index: 999;
}
#controllers a {
	width: 18px;
	height: 6px;
	margin: 0 4px;
	overflow:hidden;
	display:inline-block;
	background-color: #FFFFFF;
	color: #FFFFFF;
}
#controllers a:hover, #controllers a.active {
	background-color: #0FBE7C;
	color: #0FBE7C;
}

/* =PAGE HEADER TITLE
----------------------------------------------- */
.header-post-title-container {
	border-bottom: 1px solid #EAEAEA;
	padding: 20px 0;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) inset;
}
.header-post-title-container .post-title-wrapper {
	float: left;
	max-width: 100%;
	padding-right: 30px;
}
.header-post-title-class {
	font-size: 22px;
	padding-bottom: 0;
}

/* =BREADCRUMB NAVXT PLUGIN SUPPORT
----------------------------------------------- */
.breadcrumb {
	float: right;
	text-align: right;
	margin-top: 8px;
   margin-bottom: 2px;
	font-size: 12px;
}
.breadcrumb {
	color: #666666;
}
.breadcrumb a {
	color: #666666;
}
.breadcrumb a:hover {
	color: #0FBE7C;
}

/* =CONTENT
----------------------------------------------- */
.sticky {
}
.extra-hatom-entry-title {
   display: none;
}
#main {
	padding: 40px 0 10px 0;
}
.widget_service_block {
	margin-bottom: 30px;
	padding-top: 30px;
}
.widget_service_block .widget-title {
	font-size: 22px;
	padding-bottom: 10px;
}
.widget_service_block p {
	padding-bottom: 0;
}
.widget_service_block .more-link-wrap {
	text-align: center;
}
.widget_service_block a.more-link:hover, .widget_featured_single_post a.read-more:hover {
	text-decoration: underline;
}
.widget-title a {
	color: #444444;
}
.tg-one-half .widget-title a:hover,
.tg-one-third .widget-title a:hover,
.tg-one-fourth .widget-title a:hover {
	color: #0FBE7C;
}
.tg-one-half p,
.tg-one-third p,
.tg-one-fourth p {
	text-align: center;
}
.tg-one-half .service-image,
.tg-one-third .service-image,
.tg-one-fourth .service-image {
	text-align: center;
}
.tg-one-half .widget-title,
.tg-one-third .widget-title,
.tg-one-fourth .widget-title {
	text-align: center;
}
.tg-one-third {
	float: left;
	width: 28.407225%;
	margin: 0 2.46305419%;
	padding: 0px 0px 30px;
}
.tg-one-fourth {
	float: left;
	width: 23.1527094%;
	margin: 0 2.46305419% 0 0;
	padding: 0px 0px 30px;
}
.tg-one-fourth-last {
	margin: 0px;
}
.tg-one-half {
	float: left;
	width: 48.7684729%;
	margin: 0 2.46305419% 0 0;
	padding: 0px 0px 30px;
}
.tg-one-half-last {
	float: right;
	margin: 0px;
}
.widget_recent_work {
	margin-bottom: 20px;
}
.widget_recent_work img {
	margin-bottom: 0px;
}
.widget_recent_work .tg-one-half .widget-title,
.widget_recent_work .tg-one-third .widget-title,
.widget_recent_work .tg-one-fourth .widget-title {
	font-size: 22px;
	padding-bottom: 8px;
	text-align: left;
}
.widget_recent_work .tg-one-half p,
.widget_recent_work .tg-one-third p,
.widget_recent_work .tg-one-fourth p {
	text-align: left;
}
.widget_recent_work .tg-one-half .service-image,
.widget_recent_work .tg-one-third .service-image,
.widget_recent_work .tg-one-fourth .service-image {
	text-align: center;
	padding-bottom: 0;
}
.widget_featured_single_post {
	padding-bottom: 30px;
}
.widget_featured_single_post .widget-title {
	font-size: 22px;
}
.widget_featured_single_post .widget-title,
.widget_featured_single_post p,
.widget_featured_single_post .service-image {
	text-align: left;
}
.widget_featured_single_post .service-image {
	padding-bottom: 0px;
}
.widget_featured_post {
	margin-bottom: 20px;
}
.widget_featured_post .main-title {
	font-size: 24px;
	padding-bottom: 8px;
}
.container-featured-widget-head {
	padding-top: 10px;
	padding-bottom: 15px;
}
.widget_featured_post .tg-one-half .widget-title,
.widget_featured_post .tg-one-third .widget-title,
.widget_featured_post .tg-one-fourth .widget-title {
	text-align: left;
	font-size: 20px;
	padding-bottom: 8px;
	line-height: 22px;
}
.widget_featured_post .tg-one-half p,
.widget_featured_post .tg-one-third p,
.widget_featured_post .tg-one-fourth p {
	text-align: left;
}
.widget_featured_post .meta {
	font-size: 12px;
	padding: 3px;
	font-family: 'Lato', sans-serif;
}
.wide-978 .widget_featured_post .meta,
.narrow-978 .widget_featured_post .meta {
	font-size: 11px;
}

/* =META
----------------------------------------------- */
.meta {
	border-bottom: 1px dashed #EAEAEA;
	border-top: 1px dashed #EAEAEA;
	padding: 5px;
	font-size: 15px;
}
.meta li:first-child {
	border-left: 0 none;
	padding-left: 0 !important;
}
.meta li {
	border-left: 1px solid #EAEAEA;
	float: left;
	padding: 0 6px 0 6px !important;
	border-bottom: none !important;
}
.meta li:last-child {
	float: right;
	border-left: 0 none;
	padding-right: 0px !important;
}
.main-title {
	text-align: center;
	text-transform: uppercase;
}
.main-description {
	text-align: center;
}

/* =NAVIGATION
----------------------------------------------- */
.default-wp-page .previous {
	float: left;
	margin-bottom: 30px;
}
.default-wp-page .next {
	float: right;
	margin-bottom: 30px;
}
.wp-pagenavi {
	text-align: center;
}
#content .wp-pagenavi .page {
   padding-bottom: 3px;
}

/* =PAGINATION
----------------------------------------------- */
.pagination {
	margin: 15px 0;
}
.pagination span {
	padding: 2px 5px;
	border: 1px solid #EAEAEA;
	background-color: #0FBE7C;
	color: #FFFFFF;
}
.pagination a span {
	background-color: #FFFFFF;
	color: #666666;
}
.pagination a span:hover {
	color: #0FBE7C;
	border-color: #0FBE7C;
	text-decoration: none;
}

/* =TESTIMONIAL WIDGET
----------------------------------------------- */
.widget_testimonial {
	margin-bottom: 30px;
}
.widget_testimonial .widget-title {
	font-size: 22px;
	text-align: left;
}
.widget_testimonial .testimonial-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
	content: '\f106';
	width: 25px;
	height: 19px;
	float: left;
	margin-right: 3.06%;
	color: #0FBE7C;
	transform: rotate(180deg);
}
.widget_testimonial .testimonial-post {
	padding: 20px;
	border-width: 2px 1px 1px 1px;
	border-style: solid dashed dashed dashed;
	border-color: #0FBE7C #EAEAEA #EAEAEA #EAEAEA;
	font-style: italic;
	margin-bottom: 15px;
	display: block;
	overflow: hidden;
}
.widget_testimonial .testimonial-post p {
	margin-bottom: 0px;
}
.widget_testimonial .testimonial-author {
	text-align: right;
	clear: both;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}
.widget_testimonial .testimonial-author span {
	font-size: 16px;
	color: #666666;
}

/* =CALL TO ACTION WIDGET
----------------------------------------------- */
.widget_call_to_action {
	margin-bottom: 60px;
}
.call-to-action-content-wrapper {
	border-width: 1px 1px 1px 3px;
	border-style: dashed dashed dashed solid;
	border-color: #EAEAEA #EAEAEA #EAEAEA #0FBE7C;
	padding: 20px 3.85878489% 20px 3.69458128%;
   background-color: #F8F8F8;
}
.call-to-action-content {
	width: 69.5187166%;
	float: left;
}
.call-to-action-content h3 {
	padding-bottom: 0;
	font-size: 24px;
}
.call-to-action-content p {
	padding-bottom: 0;
	margin-bottom: 0;
}
.call-to-action-button {
	float: right;
	background-color: #0FBE7C;
   border-radius: 3px 3px 3px 3px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	font-size: 22px;
	line-height: 40px;
	text-align: center;
	font-family: 'Lato',sans-serif;
	padding: 5px 3.28407225%;
	margin-top: 4px;
}
.call-to-action-button:hover {
	-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
}

/* =MEDIA
----------------------------------------------- */
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5rem;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075rem 0;
}
.gallery-caption {
}

/* =WORDPRESS GALLERY SUPPORT
----------------------------------------------- */
.gallery {
	margin: 0 auto 2em;
}
.gallery .gallery-item {
	float: left;
	display: block;
	background: #fff;
	margin: 10px 1.5% 20px;
	text-align: center;
}
.gallery .gallery-item:hover { }
.gallery .gallery-icon {
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
	line-height: 0;
}
.gallery-columns-1 .gallery-item { float: none; text-align: center; width:100%; margin: 10px 0 20px; }
.gallery-columns-2 .gallery-item { width:47%; }
.gallery-columns-3 .gallery-item { width:30%; }
.gallery-columns-4 .gallery-item { width:22%; }
.gallery-columns-5 .gallery-item { width:17%; }
.gallery-columns-6 .gallery-item { width:13.6%; }
.gallery-columns-7 .gallery-item { width:12.25%; margin:10px 1% 10px; }
.gallery-columns-8 .gallery-item { width:10.5%; margin:10px 1% 10px; }
.gallery-columns-9 .gallery-item { width:9.11%; margin:10px 1% 10px; }
.gallery dl a {
	display: block;
}
.gallery dl a img {
	height: auto;
	margin: 0 auto;
}
.gallery .gallery-caption {
	font-size: 14px;
	line-height: 1.2em;
	margin: 10px 0 0;
}
.gallery br+br { display:none; }

/* =COMMENTS
----------------------------------------------- */
#comments {
	background-color: #FFFFFF;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}
#comments h1,
#comments h2,
#comments h3,
#comments h4,
#comments h5,
#comments h6 {
   margin-bottom: 1rem;
}
#comments h2.comments-title {
	margin-bottom: 10px;
}
.avatar {
	border-radius: 50%;
	float: left;
}
.comments-area article header {
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
}
.comments-area .comment-edit-link,
.comments-area .comment-permalink,
.comments-area .comment-date-time,
.comments-area .comment-author-link {
	display: block;
	margin-left: 100px;
	color: #999999;
}
#content .comments-area article header cite a:hover,
#content .comments-area a.comment-edit-link:hover,
#content .comments-area a.comment-permalink:hover {
	color: #0FBE7C;
}
.comments-area .comment-author-link a {
	color: #999999;
}
.comments-area .comment-author-link a:hover {
	color: #0FBE7C;
}
.comments-area .comment-author-link span {
	margin-left: 10px;
	padding: 0 5px;
	background-color: #0FBE7C;
	color: #FFFFFF;
	border-radius: 3px;
}
.comments-area article header .comment-author-link:before,
.comments-area article header .comment-edit-link:before,
.comments-area article header .comment-permalink:before,
.comments-area article header .comment-date-time:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
}
.comments-area article header .comment-author-link:before { content: '\f304'; }
.comments-area article header .comment-edit-link:before { content: '\f411'; }
.comments-area article header .comment-permalink:before { content: '\f107'; }
.comments-area article header .comment-date-time:before { content: '\f307'; }
.comment-content {
	padding: 2rem;
	background-color: #F8F8F8;
	border: 1px solid #EAEAEA;
}
.comment {
	margin-bottom: 20px;
}
.comment ul, .comment ol {
   margin: 0 0 20px 20px;
}
.comment ul {
   list-style: square outside none;
}
.comment .comment-reply-link {
	float: right;
	color: #999999;
}
.comment .comment-reply-link:hover {
	color: #0FBE7C;
}
.comment .comment-reply-link:before {
	content: '\f412';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 22px/1 'Genericons';
	vertical-align: top;
}
.comment-list {
	margin-bottom: 34px;
	margin-bottom: 3.4rem;
}
.comment-list .children {
   margin-left: 20px;
}
.comment-list, .comment-list .children {
	list-style-type: none;
	padding: 0;
}
.screen-reader-text { display: none; }
.nav-previous,
.nav-next {
   margin-bottom: 15px;
}
.nav-previous a,
.nav-next a {
   color: #666666;
   padding: 5px 25px;
	cursor: pointer;
   border: 1px solid #EAEAEA;
   font-size: 16px;
}
.nav-previous a:hover,
.nav-next a:hover {
	color: #0FBE7C;
}

/* =COMMENT FORM
----------------------------------------------- */
#respond {
}
#respond h3#reply-title {
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 1rem;
	font-weight: normal;
	font-size: 16px;
	font-size: 1.6rem;
}
#respond form {
	margin: 24px 0;
	margin: 2.4rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 1.1rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 16px;
	margin-bottom: 1.6rem;
}
#respond form label {
	display: block;
	line-height: 1.5;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 1.5;
	padding: 10px;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #5e5e5e;
}
.required {
	color: red;
}

/* =WIDGETS
----------------------------------------------- */
#secondary .widget ul li, #colophon .widget ul li {
	line-height: 1.5;
	border-bottom: 1px solid #EAEAEA;
	padding: 5px 0;
}
#colophon .widget ul li {
	border-bottom: 1px solid #444444;
}
#secondary .widget ul li li, #colophon .widget ul li li {
	border-bottom: none;
}
#secondary .widget ul ul, #colophon .widget ul ul {
	padding-left: 10px;
}
.widget select {
	border: 1px solid #DDDDDD;
	color: #666666;
	padding: 2px;
	width: 60%;
}
#secondary h3.widget-title {
	font-size: 22px;
	line-height: 32px;
	padding-bottom: 15px;
}
#secondary .widget, .error-404 .widget {
	margin-bottom: 35px;
	font-size: 16px;
}
#secondary a:hover {
	text-decoration: underline;
}
.error-404 {
	padding-bottom: 20px;
	text-align: center;
}
.error-404 input.s {
	width: 50%;
}

/* =CALENDAR WIDGET
----------------------------------------------- */
#wp-calendar {
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
	padding-bottom: 10px;
}
#wp-calendar #today {
	color: #0FBE7C;
}
#wp-calendar caption {
	text-align: center;
}
#wp-calendar #next {
	padding-right: 35px;
	text-align: right;
}
.widget_calendar #wp-calendar th {
   font-weight: 600;
}
.widget-title span {
	border-bottom: 2px solid #0FBE7C;
	padding-bottom: 5px;
}
#colophon #wp-calendar th,
#colophon #wp-calendar td {
	border: 1px solid #444444;
	padding: 3px 2px 3px 8px;
}
.widget th, .widget td {
   padding: 1px 1px 1px 2px;
}

/* =FOOTER WIDGET AREA
----------------------------------------------- */
.footer-widgets-wrapper {
	background-color: #333333;
	border-top: 1px solid #EAEAEA;
}
.footer-widgets-area {
	padding-top: 30px;
	padding-bottom: 10px;
	color: #999999;
}
.footer-widgets-area .tg-one-fourth .widget-title {
	text-align: left;
}
.footer-widgets-area h3.widget-title {
	color: #D5D5D5;
}
.footer-widgets-area .tg-one-fourth p {
	text-align: left;
	color: #999999;
}
.footer-widgets-area a {
	color: #D5D5D5 !important;
}
.footer-widgets-area a:hover {
	color: #0FBE7C !important;
}
#colophon .widget {
	padding-bottom: 25px;
}
#colophon .widget-title {
	font-size: 22px;
	line-height: 32px;
}
#colophon, #colophon p {
	font-size: 14px;
	line-height: 18px;
}

/* =FOOTER SOCKET AREA
----------------------------------------------- */
.footer-socket-wrapper {
	padding: 10px 0px;
	background-color: #F8F8F8;
	border-top: 1px solid #EAEAEA;
}
.footer-socket-area {
	width: 100%;
}
.footer-socket-wrapper .copyright {
	color: #666666;
	max-width: 50%;
	float: left;
	font-size: 12px;
}
.footer-socket-wrapper .copyright a {
	color: #666666;
}
.footer-socket-wrapper .copyright a:hover {
	color: #0FBE7C;
}
.footer-socket-wrapper .small-menu {
	float: right;
}
.footer-socket-wrapper .small-menu a {
	padding-top: 0;
}
.footer-socket-wrapper .small-menu ul li ul {
	top: 21px;
}

/* =SCROLL UP
----------------------------------------------- */
a#scroll-up {
	bottom: 20px;
	position: fixed;
	right: 20px;
	display: none;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 26px/1 'Genericons';
	vertical-align: top;
	color: #FFFFFF;
	background-color: #0FBE7C;
	opacity: 0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	border-radius: 3px;
	padding: 6px;
}
a#scroll-up:before {
	content: '\f432';
}
a#scroll-up:hover {
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* =READ MORE LINK
----------------------------------------------- */
.read-more, .more-link {
	font-size: 14px;
	color: #0FBE7C;
	font-family: 'Lato', sans-serif;
}

/* =PRIMARY AND SECONDARY CONTENT AREA
----------------------------------------------- */
#primary {
	float: left;
	width: 61.5763547%;
}
#secondary {
	float: right;
	width: 34.4827586%;
}
.wide-978 #primary, .narrow-978 #primary {
	width: 65.5763547%;
}
.wide-978 #secondary, .narrow-978 #secondary {
	width: 30.4827586%;
}

/* =LEFT SIDEBAR CONTENT LAYOUT
-------------------------------------------------------------- */
.left-sidebar #primary {
	float: right;
}
.left-sidebar #secondary {
	float: left;
}

/* =NO SIDEBAR CONTENT LAYOUT
-------------------------------------------------------------- */
.no-sidebar #primary {
	float: none;
	margin: 0 auto;
}
.no-sidebar-full-width #primary {
	width: 100%;
}
.no-sidebar #secondary,
.no-sidebar-full-width #secondary {
	display: none;
}

/* =POST CONTENT
----------------------------------------------- */
#content .post, #content .page {
	padding-bottom: 45px;
}
.single #content .post {
	padding-bottom: 25px;
}
.post .entry-title, .page .entry-title {
	font-size: 26px;
	line-height: 32px;
}
.post .entry-title a, .page .entry-title a {
	color: #444444;
}
.post .entry-title a:hover, .page .entry-title a:hover {
	color: #0FBE7C;
}
.post .entry-content {
	margin-bottom: 10px;
}
.entry-content ul {
	list-style: square;
}
.entry-content ul,
.entry-content ol {
	padding: 0 0 0 35px;
   margin-bottom: 30px;
}
.entry-content li > ul,
.entry-content li > ol {
	margin-bottom: 0;
}
.post .entry-content a:hover {
	text-decoration: underline;
}
.blog-medium .post .post-featured-image {
	float: left;
	width: 36%;
	text-align: left;
	padding-right: 4%;
}
.blog-alternate-medium #primary article:nth-child(odd) figure {
	float: left;
	padding-right: 4%;
}
.blog-alternate-medium #primary article:nth-child(even) figure {
	float: right;
	padding-left: 4%;
}
.post .entry-meta {
	border: 1px solid #EAEAEA;
	font-size: 14px;
	color: #666666;
	font-family: 'Lato', sans-serif;
	margin: 0 0 20px;
}
.post .entry-meta .by-author,
.post .entry-meta .date,
.post .entry-meta .category,
.post .entry-meta .comments,
.post .entry-meta .edit-link {
	padding: 5px 10px;
}
.post .entry-meta .read-more-link {
	padding: 5px 10px;
	background-color: #0FBE7C;
	float: right;
	border-right: none;
}
.post .entry-meta .read-more-link:hover {
	-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
	box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
}
.post .entry-meta a, .type-page .entry-meta a {
	color: #666666;
}
.post .entry-meta a.read-more {
	color: #FFFFFF;
}
.post .entry-meta a.read-more:hover {
	color: #FFFFFF;
}
.post .entry-meta a:hover, .type-page .entry-meta a:hover {
	color: #0FBE7C;
}
.post .entry-meta span {
	float: left;
	padding: 0 6px 0 6px;
}
.post .entry-meta span:first-child {
	border-left: none;
}
.post .entry-meta .by-author:before,
.post .entry-meta .date:before,
.post .entry-meta .category:before,
.post .entry-meta .comments:before,
.post .entry-meta .edit-link:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
	font: normal 18px/1 'Genericons';
	vertical-align: top;
}
.post .entry-meta .by-author:before { content: '\f304'; }
.post .entry-meta .date:before { content: '\f307'; }
.post .entry-meta .category:before { content: '\f301'; }
.post .entry-meta .comments:before { content: '\f300'; }
.post .entry-meta .edit-link:before { 	content: '\f411'; }
.single #content .tags {
	margin: 30px 0;
}
.single #content .tags a {
	border: 1px solid #EAEAEA;
	padding: 3px 5px;
	border-radius: 3px;
	color: #666666;
}
.single #content .tags a:hover {
	color: #0FBE7C;
	text-decoration: none;
}

/* =RESPONSIVE STRUCTURE
----------------------------------------------- */
@media screen and (min-width: 1500px) {
   .wide-978 #featured-slider .entry-container {
      left: 17.6%;
   }
   .wide-1218 #featured-slider .entry-container {
      left: 9.6%;
   }
}
@media screen and (min-width: 1650px) {
   .wide-978 #featured-slider .entry-container {
      left: 19.45%;
   }
   .wide-1218 #featured-slider .entry-container {
      left: 11.9%;
   }
}
@media screen and (max-width: 1308px) {
	#page {
		width: 97%;
	}
	.wide-1218 #page, .wide-978 #page {
		width: 100%;
	}
	.inner-wrap {
		width: 94%;
	}
}
@media screen and (max-width: 1078px) {
	body {
		padding: 15px 0;
	}
	#featured-slider .entry-container {
		max-width: 60%;
	}
	.call-to-action-content {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.call-to-action-button {
		width: 93%;
	}
	.footer-socket-wrapper .copyright {
		float: none;
		max-width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}
	.footer-socket-wrapper .small-menu {
		float: none;
		text-align: center;
	}
	.footer-socket-wrapper .small-menu li {
		float: none;
		display: inline;
	}
	.footer-socket-wrapper .small-menu a {
		float: none;
		display: inline;
		padding: 5px 5px 0;
	}
	.small-menu li.default-menu, li.default-menu {
		display: none;
	}
	.tg-one-half, .tg-one-third, .tg-one-fourth {
		float: left;
		width: 46.7684729%;
	}
   .widget_service_block .tg-one-third {
      float: left;
      margin: 0 2.46305%;
      padding: 0 0 30px;
      width: 28.4072%;
   }
	.tg-one-half-last, .tg-one-fourth-last {
		float: right;
	}
	.tg-service-left { float: left; margin: 0; }
	.tg-service-right { float: right; margin: 0; }
	.tg-column-1, .tg-column-3 {
		float: left;
		width: 46.7684729%;
	}
	.tg-column-2, .tg-column-4 {
		float: right;
		margin-right: 0;
	}
	.tg-after-two-blocks-clearfix {
		clear: both;;
	}
	.tg-after-three-blocks-clearfix {
		clear: none;
	}
}
@media screen and (max-width: 768px) {

	/* edited 10232015 */
	

	#primary, #secondary {
		float: none;
		width: 100%;
		margin: 0;
	}
	#header-left-section {
		float: none;
		max-width: 100%;
		margin-right: 0px;
	}
	#header-logo-image {
		float: none;
		text-align: center;
		margin-bottom: 10px;
		padding-right: 0;
	}
	#header-text {
		float: none;
		text-align: center;
		padding: 0;
		margin-bottom: 10px;
	}
	#site-description {
		padding-bottom: 5px;
	}
	#header-right-section {
		float: none;
		max-width: 100%;
	}
	#header-right-section .widget {
		padding: 0 0 10px 0;
		float: none;
		text-align: center;
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.main-navigation {
		float: none;
	}
	#featured-slider .entry-container { max-width: 70%; }
	#featured-slider .entry-description-container { padding: 5px 10px; padding: 0.5rem 1rem; }
	#featured-slider .slider-title-head { margin-bottom: 0; }
	#featured-slider .entry-title span { font-size: 18px; line-height: 1.4; }
	#featured-slider .entry-content p { font-size: 14px; line-height: 1.4; }
	#featured-slider .slider-read-more-button { font-size: 14px; padding: 5px 10px; padding: 0.5rem 1rem; }
}
@media screen and (max-width: 767px) {
	.tg-one-half, .tg-one-third, .tg-one-fourth {
		float: none;
		width: 100%;
		margin: 0;
	}
   .widget_service_block .tg-one-third {
      float: none;
      width: 100%;
      margin: 0;
   }
	.tg-column-1, .tg-column-2, .tg-column-3, .tg-column-4 {
		float: none;
	}
	#primary, #secondary {
		float: none;
		width: 100%;
		margin: 0;
	}
	.wide-978 #primary, .narrow-978 #primary, .wide-978 #secondary, .narrow-978 #secondary {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	#featured-slider .entry-description-container { padding: 3px 6px; padding: 0.3rem 0.6rem; }
	#featured-slider .entry-title span { font-size: 14px; }
	#featured-slider .entry-content p { font-size: 10px; }
	#featured-slider .slider-read-more-button { margin-top: 5px; font-size: 10px; padding: 3px 6px; padding: 0.3rem 0.6rem; }
	#controllers { bottom: 5px; }
	#controllers a { height: 4px; margin: 0 3px; width: 12px; }
}
@media only screen and (max-width: 420px) {
   #page {
   	width: 97%;
   }
   .inner-wrap {
   	width: 95%;
   }
	#featured-slider .entry-content, #featured-slider .slider-read-more-button { display: none; }
}

/* Remove the updated class from entry meta */
.date .updated {
  display: none;
}

/* my global stylings */

.mid_blue_title_bars {

border-radius:6px;
text-align:center;
color:#ffffff;
font-size:1.3em;
width:100%;
background-color:#47adcb;
padding:7px 4px;
margin:10px auto;
line-height:1.2em;

}
.dark_blue_title_bars {

border-radius:6px;
text-align:center;
color:#ffffff;
font-size:1.3em;
width:100%;
background-color:#337ab7;
padding:7px 4px;
margin:10px auto;
line-height:1.2em;
}
.dark_blue_title_bars a {
	color:#ffffff;
}
.mid_yellow_text {
font-size:.7em;
color:#fffc00;
line-height: 1.2em;
}

/* styling small labels */
.small_title {
	margin:1px 10px;
	font-size:1.2em;
	background-color:#3a3a3a;
	color:#fefecf;
	padding:10px 10px;
	width:350px;
	height:50px;
	text-align:center;

}

/* standard for tour details table styling */
.tour_details table {
  font-size:.9em;
}



/* styling the popular group */
	#popular_group {
	 width:100%;
	 background-color:#ffffff;
	/* 
	background-image:url('img/home_images/mostvsited1.jpg'); 
	background-repeat:repeat-y;
	background-position:right;
	*/
	}
	.popularpost {
		position:relative;
		min-height: 200px;
	}
	.small_promo {
		position:absolute;
		top:40px;
	}
	.small_promo .label {
		background-color: #ff0000;
	}
	.popularpost .populartitle {
		text-align: center;

	}
	.popularpost img {
		border:1px solid #ffffff;
		padding:2px;
		border-radius: 11px;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
		margin:0px 0px 10px 0px;
	}

	.populartitle {
		line-height: 1em;
		font-size:.8em;
		min-height:60px;
	}

	.populartbnail {

	}

/* styling the customer_feedback */

	#customer_feedback {
	background-color:#ffffff;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	margin:10px;
	padding:5px;
	font-family: 'Comic Sans MS', sans-serif;
	}

	#customer_feedback p{
		font-family: 'Comic Sans MS', sans-serif;
		font-size:.9em;
	}
/* global contact numbers styling */




/*styling the goblal contact us yellow button */




/* styling the content gallery */
   	#myContent{
        position:relative;
        width:300px;
        height:170px;
        padding:10px;
      }
    #myContent li{
        display:none;
        position:absolute;
        top:0;
        left:0;
      }
    #myContent li.active{
        display:block;
      }

/* styling the image slider */
   	#myGallery{
        position:relative;
        width:250px;
        height:137px;
        padding:10px;
      }
    #myGallery img{
        display:none;
        position:absolute;
        top:0;
        left:0;
   	padding:4px;
	margin:2px;
	border-radius: 11px;
	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
      }
    #myGallery img.active{
        display:block;
      }


/* styling the promo boxes */

.packinclusions {
	width:100%;
}
.dbox {
	float:left;
	margin:10px 30px;
	position:relative;
}

.dbox img {
	width:260px;
	margin:0px;
}

.white_box {
	position:absolute;
	top:0px;
	left:0px;
	background-color:white;
	width:260px;
	height:265px;
	border-radius: 11px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-top:15px;

	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
}

.white_box .white_box_title {
	font-size:1.2em;
}

.white_box p{
	text-align:center;
	font-size: .9em;
	color:#000000;
	padding:5px;
}
.white_box img{

	border: none;
	width:70px;
    display: block;
    margin: 0 auto;

}

.white_box .dbutton {
	text-align:center;
}


/* styling the home page */

#the_home_page {
background-color: #d1f6ff;
overflow:auto;
}

#tour_locations_containter {
	padding:5px;
}


.home_butt_containers {

	overflow:auto;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Open Sans', sans-serif;
	font-size:.9em;
	line-height:1.1em;
	margin: 10px auto;
	padding:10px 0px;
}

.home_butt_containers img{

	border:1px solid #9E9E9E;
	padding:5px;

}

.location_body {
	font-size:.9em;
	line-height: 1.5em;
}

.location_body p {
	font-size:1em;
	line-height:1.3em;
}

.location_body h1 {
	padding:0px;
	margin:0px;
	color:#337ab7;
	font-size:2em;
	line-height:1em;
}
.home_side_portion {
	margin:0px;
	padding:5px;
}

.search_form_home {
	width:100%;
	margin:0 auto;
	padding:0px;
	text-align:center;
}

.page_home_side_containter{
	overflow:auto;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	padding:10px 5px;
	margin:5px 0px;
}
.page_home_side_containter img {

	padding:3px;
	border: 1px solid white;
	border-radius: 11px;
	box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);

}
.page_home_side_containter p{
	line-height: 1.2em;
	font-style:italic;
	font-size:.9em;
}

.page_home_side_containter li{
	line-height: 1.5em;
	font-style:italic;
	font-weight:normal;
	font-size:.9em;
}

#page_home_title_bar {
	background-color:#040b9c;
	margin:0px;
	background-image:url('img/home_images/small-bar-2.png');
	background-repeat:no-repeat;
	background-position:right;
	overflow:hidden;
	padding:13px;
	min-height:74px;
}

#page_home_title_bar p {
	margin:10px 10px;
	font-size:4em;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;

}
.contact_numbers {
	font-size:.9em;
	line-height: 1.3em;
	text-align:center;
}
.contact_numbers h6 {
	padding:0px;
	margin:3px;
}
.contact_numbers .label {
	background-color: #50abf1;
	color:#ffffff;
}
.whatsup_section {
	overflow:auto;
	margin:10px 0px;
}
.whatsup_section_numbers {
	text-align:left;
	padding:5px;
	color:#0e8b00;
}
.whatsup_section_logo {
	text-align:right;
	padding:0px;
}	

.button_images {
	text-align:center;
}

/* styling page paragraph group */
#packgroup p{
  padding:15px;
  font-size:.9em;
}


/* styling the font for packages */
.pack_container, #the_home_page {
	font-family: 'Open Sans', sans-serif;
}
.pack_container table td {
	font-family: 'Open Sans', sans-serif;
	border:1px solid gray;
}

#tour_locations_containter, #tour_locations_containter p {
	font-family: 'Open Sans', sans-serif;
}
/* ------------- styling the packages col3 and col7 -------------------- */



@media only screen and (max-width: 768px ) {

 #homeCarousel {
 	display: none;
 }

  #tour_Gallery{
        position:relative;
        padding:10px;
        min-height: 240px;
  }
  #tour_Gallery img {

  }

	/* styling the fast booking background */
	#fast_booking {
	   background-color: #C4EEFF;
	   padding:10px;
	}

.packinclusions {
	display: none;
}

}

@media only screen and (min-width: 768px) {

 #homeCarousel {
 	display: block;
 }

/* styling the header background */
#header_logo_container {
background-image:url("img/header/topbackground03.png");
background-repeat:no-repeat;
background-position:right;	
margin:0;
}
.site_logo_class{
margin:0px;
padding:0px;
}
#tour_Gallery{
position:relative;
width:520px;
height:348px;
padding:10px;
}

/* styling the fast booking background */

#fast_booking {
background-image:url('img/home_images/quick_background_1.jpg');
background-repeat:no-repeat;
background-position:right;
}




}


/* ------------- styling the image slider tour_Gallery ----------------- */

    #tour_Gallery img{
        display:none;
        position:absolute;
        top:0;
        left:0;
        padding:4px;
        margin:2px;
        border-radius: 11px;
        -moz-box-shadow: 3px 3px 4px #444;
        -webkit-box-shadow: 3px 3px 4px #444;
        box-shadow: 3px 3px 4px #444;
      }

    #tour_Gallery img.active{
        display:block;
      }

/* ----------- styling the dialog box -------------------- */
.ui-dialog-osx {

    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;


}
.ui-widget-header,.ui-state-default, ui-button{
    background:#a93400;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

#form14 {
  line-height:1.5em;
  color:#ae2900;
}
#form14 input[type=text]{
  padding:0px;
  border:3px solid orange;
  margin:0px;
  height:3em;
}

#form14 table, #form14 td, #form14 tr {
  padding:0px;
}

/* ---------------------- styling the form compute part ---------------------- */

    #form_compute {
      font-family: tahoma;
      font-size: .9em;
		padding:0px;
		background-color:#008aa4;
		color:#ffffff;

    }
	#form_compute input[type=text],#form_compute input[type=email], #form_compute textarea  {
	  padding:0px;
	  margin:0px;
	  height:2.2em;
	  width:100%;
	}
	#form_compute input[type=submit] {
		height:3em;
		background-color:#cd433d;
	}

	#form_compute_status {
		font-size:1em;
		color:#ffffff;
		padding:5px;
		line-height:1.2em;
	}
    #table_compute, #sample_calculate_table {
      border-collapse: collapse;
      margin:0px;
    }
    #table_compute, #table_compute td, #table_compute th {
      border:none;
     
    }
    #sample_calculate_table {
    	background:#000000;
    }
    #sample_calculate_table input[type=text] {
      background-color:#000000;
      border:none;
      text-align:right;
      color:yellow;
    }
    #sample_calculate_table td {
    		text-align:right;
    		padding:0 10px;
		border:1px solid #808080;
    }






/* ------------------ styling the myCustomers image ------------- */
#myCustomers img{
        display:none;
      	padding:4px;
    	margin:2px;
    	border-radius: 11px;
    	-moz-box-shadow: 3px 3px 4px #444;
    	-webkit-box-shadow: 3px 3px 4px #444;
    	box-shadow: 3px 3px 4px #444;
}
#myCustomers img.active{
       	display:block;
}


/* -------------------- styling the fastbooking section ------------ */
#form_fast_booking {
	font-size:1em;
	padding:3px;
}
#form_fast_booking input[type=submit] {
  width:100%;
  padding:10px;
  margin:0px;
  background-color: #cd433d;
  color:#ffffff;
  border-radius:5px;
  font-size:1.3em;
  line-height: .3em;
}

#form_fast_booking input[type=submit]:hover {
  background-color: #ff0000;
}

#quick_booking_instructions {
	margin-bottom:10px;
}
#quick_booking_instructions img{
	display:none;
	padding:2px;
	border-radius: 6px;
}
#quick_booking_instructions img.active{
	display:block;
}

/* ----------------------- styling the accourdion ------------- */
.panel-default {
  padding:0px;
  background-color:#ffffff;
}
.panel-heading {
  background-color:#008aa4;
}
.panel-title {
  color:white;
  background-color:#008aa4;
  font-size:1em;
  text-align:center;
}
.panel-title a {
  color:#ffffff;
  text-decoration: none;
}
.panel-title a:hover {
  color:#000000;
}

/* ----------------- styling PROMO BOXES ------------------------ */

#promo_box1 {

	background-color:#ffe84e;
	background-image:url('img/promo_images/promo2.jpg');
	background-repeat:no-repeat;
    background-position: left; 
	text-align:center;
	color:#3f3f3f;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 10px;

margin:0px;
padding:0px;
border:1px solid yellow;
}
#promo_box1 h4, #promo_box1 h3 {
	color: #000000;
	font-weight: bold;
}

.main_label {
	color:#950000;
	background-image: ;
	border:1px solid grey;
	background-image:url('images/header/expertise03.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

/* styling the cebu home page */
.home_promotions {
	padding:0px;
	margin:15px;

}

.home_items {

}

.promo_title {
	padding:10px;
	text-align: center;
	font-size:.9em;
	line-height: 1.2em;
	background-color:#000000;
	color:#ffffff;
}

.promo_excerpt p {
	margin:5px 0px;
	font-size:.9em;
	line-height:1.5em;
}

.promo_images {
	text-align:center;
}

/* styling the pages tour(s) list for cebu overnight and bohol */
.dpackposts {
padding:10px;
margin:0px;
}
.dpackposts img{
border:1px solid #ADADAD;
padding:3px;
    	border-radius: 11px;
    	-moz-box-shadow: 3px 3px 4px #444;
    	-webkit-box-shadow: 3px 3px 4px #444;
    	box-shadow: 3px 3px 4px #444;
}
.dpackposts .dtitle {
	font-size: 1em;
	line-height: 1em;
	text-align:center;
	min-height: 80px;
}
.dpackposts p {
	font-size: 1em;
	line-height: 1em;
    border:2px solid red;	
    padding:0px;
    margin:0px;
}

/* styling the quickbooking section Sept 22 2018 */

.list_quick_booking {
padding-left:0px;
}
.list_quick_booking ul {
    list-style-type: none;
    margin: 0;
    padding: 0;	
}
.list_quick_booking li{
	padding:4px;
	margin:0px;
	font-size:.9em;
	line-height:1em;
}
.list_quick_booking input[type='checkbox'] {
  padding:0px;
  margin:0px;
}

.list_quick_booking li:hover {
	color:#000000;
	font-weight:bold;
}
.list_quick_booking h1, .form_fast_booking h1 {
	margin:0px;
	padding:0px;
	font-size:1.2em;
	color:#000000;
	font-weight: bold;
	line-height:1em;
}
.frow {
 text-align:right;
 font-size:.8em;
 line-height: 1em;	
}

.tblabel {

}
#table_fast_booking {
 
}
#table_fast_booking tr, #table_fast_booking td {
	font-size:.9em;
	color:#000000;
	font-weight: bold;
	padding:0 0 0 10px;
	margin:0px;
	border:0px;
}
#fast_booking input[type=text], #fast_booking input[type=email], #fast_booking select{
	border:1px solid #004077;
	margin:1px;
}


/* styling the recent_news protion Jun 03 2018 */
.recent_news {

}
.recent_news p{
  line-height: 1.3em;
  font-size:.8em;
  padding:5px;
}
.recent_news ul {
	padding:0px;
	padding-left:15px;
	margin:0px;
}
.recent_news li {
	padding:5px;
	margin:0px;
	line-height: 1em;
	font-size: .8em;
}
.recent_news_title {
  padding:5px;
  font-weight: bold;
  color:#0000000;
}

.recent_news img {
	width:100%;
	margin:0px;
	padding:0px;
}

/* styling the parts main and side */
.parts_main {
	padding:3px;
}
.parts_side {
	padding:3px;

}

/* styling the footer logo portion */
.logo_portion {
	background-color:#ffffff;
	margin:30px 0px;
}

.btn-home-page {
font-size:1.4em;
width:100%;
}

.discount_rate {
color:#f6ff00;
}
.search_input_home {
height:34px;
}
.other_news_ul {
list-style-type:circle;
font-size:.9em;
color:#337ab7;
}
.adsgoo_01 {
display:block;
}
.adsgoo_02 {
display:inline-block;
width:728px;
height:90px;
}
.footer_add_ons {
text-align:center;
margin:10px;
}
.footer_profile_company {
text-align:center;
}

/* styling the package caption */
.package-caption {
  border:1px solid #47adcb;
  border-radius:10px;
  padding:5px;
}
.package-caption p{
  font-size:.8em; 
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
.package-caption h1 {
  color:#ffffff;
  font-size:1.5em;  
  line-height:1em;
  margin:0px;
  padding:10px;
  background-color:#47adcb;
  border:1px solid #47adcb;
  border-radius: 10px;
}